*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
InterfaceChatVC/build.xml
InterfaceChatVC/nbproject/
InterfaceChatVC/dist/
InterfaceChatVC/build/
ServerChatVC/build.xml
ServerChatVC/nbproject/
ServerChatVC/dist/
ServerChatVC/build/



InterfaceChatVC/build.xml
InterfaceChatVC/nbproject/
InterfaceChatVC/dist/
InterfaceChatVC/build/
ServerChatVC/build.xml
ServerChatVC/nbproject/
ServerChatVC/dist/
ServerChatVC/build/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
